{% extends 'base.html.twig' %}

{% block title %}Edit Questionnaire{% endblock %}

{% block body %}
    <h1>Edit Questionnaire</h1>

    {{ include('admin_questionnaire/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_admin_questionnaire_index') }}">Retourner à la liste</a>

    {{ include('admin_questionnaire/_delete_form.html.twig') }}
{% endblock %}
