


/* .container {
    margin: 50px auto;
    max-width: 500px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
} */
/* 
h1 {
    text-align: center;
}

form {
    margin-top: 20px;
}

form label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

form input[type="radio"] {
    margin-right: 5px;
}

form input[type="submit"] {
    margin-top: 20px;
} */

.container {
    margin: 50px auto;
    max-width: 500px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

h1 {
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
}

.form-check-input {
    margin-right: 10px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.btn-primary:active {
    background-color: #003880;
    border-color: #003880;
}

.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-lg {
    padding: 10px 20px;
    font-size: 1.25rem;
}